@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap);

// colours
$yellow: #e09f3e;
$white: #f2f2f2;
$dark: #000;
$purple: #694a68;
$lightPurple: #80597e;
$gray-100: lightgray;
$gray-200: gray;

$primary: $yellow;
$secondary: $purple;
$tertiary: $lightPurple;
$bg: $white;
$text: $dark;

$colors: (
    'primary': $primary, 
    'secondary': $secondary,
    'teritary': $tertiary,
    'gray-100': $gray-100,
    'gray-200': $gray-200,
    'white': $white,
    'dark': $dark
);

@each $color-name, $color in $colors {
    .bg-#{$color-name} {
        background: $color;
    }
}

// spacing
$zero: 0;
$smallestSpacer: 5px;
$smallSpacer: 10px;
$bigSpacer: 20px;

$margin-padding: ('margin': 'm', 'padding': 'p');
$spacers: ($zero: $zero, $smallestSpacer: '1', $smallSpacer: '2', $bigSpacer: '3');
$sides: ('': '', '-top': 't', '-bottom': 'b', '-right': 'r', '-left': 'l');

// text
$font-body: Helvetica, Arial, sans-serif;
$font-heading: 'Averia Serif Libre', cursive;
$font-sizes: (48, 36, 24, 12, 10);

$box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.1);

body {
    background: $bg;
    font-family: $font-body;
}

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
}