@use 'sass:list';
@import 'base';

@for $i from 1 through 4 {
    h#{$i} {
        font-family: $font-heading;
        font-size: #{list.nth($font-sizes, $i)}px;
    }
}

@each $color-name, $color in $colors {
    .text-#{$color-name} {
        color: $color;
    }
}

.text-right {
    text-align: right;
}

p {
    max-width: max-content;
}