@import 'base';

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-row-reverse {
    display: flex;
    flex-flow: row wrap-reverse;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.d-none {
    display: none;
}
.d-inl {
    display: inline;
}

.mw-75 {
    max-width: 75%;
}

.centered {
    margin: 0 auto;
}

.h-100 {
    height: 100%;
}

// margin + padding utils
@each $attr, $atrr-label in $margin-padding {
    @each $spacer, $spacer-label in $spacers {
        @each $side, $side-label in $sides {
            .#{$atrr-label}#{$side-label}-#{$spacer-label} {
                #{$attr}#{$side}: $spacer; 
            }
        }
    }
}

.box-shadow {
    box-shadow: $box-shadow;
}

.d-none {
    display: none;
}