@use 'sass:list';
@import 'base';

li {
    list-style-type: none;
}

/* links and buttons */

a, a:visited, a:hover {
    text-decoration: none;
}

a, a:visited {
    color: inherit;
}

a:hover {
    color: rgba($white, 0.8);
    transition: color 0.3s ease-in;
}

// modal screen
.modal-screen {
    position: absolute;
    width: 100%;
    top: 0;
    background: rgba($gray-400, .8);
    z-index: 999;
}

/* forms */
form {
    border-radius: 10px;
}

input {
    font-size: 1rem;
    font-weight: 300;
    background: $gray-100;
    border: 1px solid $gray-300;
    border-radius: 5px;
}

// buttons
button {
    -webkit-appearance: button;
    font-size: 1rem;
    font-weight: 300;
    color: $white;
    background: $primary;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

button:hover {
    background: rgba($primary, 0.8);
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}

.btn-link {
    background: none;
    font-size: 0.75em;
}

.btn-link:hover {
    transform: translateX(20px);
    transition: transform 0.3s ease-in-out;
}

.close-btn:hover {
    cursor: pointer;
}