@use 'sass:list';
@import 'base';

@for $i from 1 through 4 {
    h#{$i} {
        font-family: $font-heading;
        font-size: #{list.nth($font-sizes, $i)}rem;
    }
}

@each $color-name, $color in $colors {
    .text-#{$color-name} {
        color: $color;
    }
}

h1 {
    font-weight: 300;
}

h2 {
    max-width: 768px;
    font-weight: 400;
}

h3 {
    font-weight: 500;
}

.text-right {
    text-align: right;
}

.text-center-sm {
    @media screen and (max-width: $small) {
        text-align: center;
    }
}

p {
    font-weight: 300;
    font-size: 1rem;
    max-width: max-content;
}

.big-text {
    font-size: 4rem;
    font-weight: bold;
}

.unbold {
    font-weight: 300 !important;
}

.bolder {
    font-weight: 700 !important;
}