@import 'base';

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-row-reverse {
    display: flex;
    flex-flow: row wrap-reverse;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-content-center {
    align-content: center;
}

.align-content-stretch {
    align-content: stretch;
}

.align-stretch {
    align-items: stretch;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: flex-start;
}

.d-none {
    display: none;
}
.d-inl {
    display: inline;
}

.mw-50 {
    max-width: 50%;
}

.mw-60 {
    max-width: 60%;
}


.mw-75 {
    max-width: 75%;
}

.mw-85 {
    max-width: 85%;
}

.mw-100 {
    max-width: 100%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.centered {
    margin: 0 auto;
}

.h-100 {
    min-height: 100%;
}

.z-1 {
    position: absolute;
    z-index: 1;
}

.mw-100-sm {
     @media screen and (max-width: $small) {
        max-width: 100%;
    }
}

.justify-center-sm {
    @media screen and (max-width: $small) {
        justify-content: center;
    }
}

.align-center-sm {
    @media screen and (max-width: $small) {
        align-items: center;
    }
}

// margin + padding utils
@each $attr, $atrr-label in $margin-padding {
    @each $spacer, $spacer-label in $spacers {
        @each $side, $side-label in $sides {
            .#{$atrr-label}#{$side-label}-#{$spacer-label} {
                #{$attr}#{$side}: $spacer; 
            }
        }
    }
}

.box-shadow {
    box-shadow: $box-shadow;
}

.d-none {
    display: none;
}

.d-none-sm {
    @media screen and (max-width: $small) {
        display: none;
    }
}